:root{
    --iconColor: var(--light);
    --iconSize: 5rem;
    --textIconSize: 5rem;
    --textIconMargin: -1rem;
    --iconMargin: -1rem;
    --lineWidth: .35rem;
}

.button{
    all: unset;
    text-transform: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: .5vw;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--pDark);
    background: transparent;
    border-radius: .25rem;
}

.header.button{
    padding: 1vw;
}

.leftLine {
    border: none;
    border-left: var(--lineWidth) solid var(--pDark);
}

.rightLine {
    border: none;
    border-right: var(--lineWidth) solid var(--pDark);
}

.bottomLine {
    border: none;
    border-bottom: var(--lineWidth) solid var(--pDark);
}

.topLine {
    border: none;
    border-top: var(--lineWidth) solid var(--pDark);
}

:root .button{
    --iconColor: var(--pDark);
}

.invert{
    color: var(--light);
}

.invert.leftLine {
    border: none;
    border-left: var(--lineWidth) solid var(--light);
}

.invert.rightLine {
    border: none;
    border-right: var(--lineWidth) solid var(--light);
}

.invert.bottomLine {
    border: none;
    border-bottom: var(--lineWidth) solid var(--light);
}

.invert.topLine {
    border: none;
    border-top: var(--lineWidth) solid var(--light);
}


:root .invert{
    --iconColor: var(--light);
}

.button *{
    z-index: 3;
    transition: .5s;
}

.button:hover, .button:focus > span{
    color: var(--light);
}

.button:hover, .button:focus {
    --iconColor: var(--light);
    background: transparent;
}

.invert:hover, .invert:focus > span{
    color: var(--pDark);
}

.invert:hover, .invert:focus {
    --iconColor: var(--pDark);
}

.leftLine.button:hover:before, .leftLine.button:focus:before, .leftLine.invert:hover:before, .leftLine.invert:focus:before{
    right:0;
}

.rightLine.button:hover:before, .rightLine.button:focus:before, .rightLine.invert:hover:before, .rightLine.invert:focus:before{
    left:0;
}

.topLine.button:hover:before, .topLine.button:focus:before, .topLine.invert:hover:before, .topLine.invert:focus:before{
    bottom:0;
}

.bottomLine.button:hover:before, .bottomLine.button:focus:before, .bottomLine.invert:hover:before, .bottomLine.invert:focus:before{
    top:0;
}

.button:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--pDark);
    transition: .5s;
    z-index: 2;
}

.invert:before {
    background: var(--light);
}

.leftLine.button:before{
    right: 100%;
}

.rightLine.button:before{
    left: 100%;
}

.topLine.button:before{
    bottom: 100%;
}

.bottomLine.button:before{
    top: 100%;
}

.headerHeader{
    all: unset;
    text-transform: none;
    font-size: 3rem;
    font-variant-caps: normal;
    color: var(--pDark);
    margin: 0;
    padding: 0;
    margin-right: 10vw;
    cursor: pointer;
    border: none;
    background: transparent;
}

.headerHeader:hover, .headerHeader:focus {
    background: transparent;
}

@media only screen and (width<768px){
    :root{
        --lineWidth: 1rem;
    }
    .topLine {
        border: none;
        border-bottom: var(--lineWidth) solid var(--pDark);
    }

    .invert.topLine {
        border: none;
        border-bottom: var(--lineWidth) solid var(--light);
    }

    .topLine.button:hover:before, .topLine.button:focus:before, .topLine.invert:hover:before, .topLine.invert:focus:before{
        top:0;
    }

    .topLine.button:before{
        top: 100%;
    }
}
