.mainContainer{
    width: 100%;
    height: auto;
    padding: 2rem 5vw;
}

.PastWorkContainer{
    margin-left: -5vw;
    margin-right: -5vw;
    padding: 5vh 5vw;
    background: var(--light);
}

.PastWorkContainer > h3{
    font-size: 3rem;
    color: var(--primary);
    text-align: center;
}

@media only screen and (width<768px) {
    .mainContainer{
        margin-top: 10rem;
    }
}
