.aboutContentExterior{
    background: var(--light);
    margin: 10vw 5vw;
    padding: 2vw;
}

.MainAbout{
    padding: 5vh 2.5vw;
    background: var(--light);
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-left: 5vw;

    margin-left: -5vw;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.MainAbout > h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.MainAbout > .ContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.MainAbout > .ContentContainer > img {
    width: 25vw;
    height: auto;
    margin: 0 2rem;
}

.MainAbout > .ContentContainer > .SummaryContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.MainAbout > .ContentContainer > .SummaryContainer > p{
    align-self: flex-start;
}

.aboutContentExterior h2{
    font-size: 2rem;
    margin-bottom: 2vw;
}

.aboutContentExterior.Left{
    margin-left: 0;
    padding-left: 7vw;
}

.aboutContentExterior.Right{
    margin-right: 0;
    padding-right: 7vw;
}

.cardsContainer {
    overflow: hidden;
}

@media only screen and (width<768px){
    body{
        padding-top: 10rem;
    }
    .aboutContentExterior h2{
        font-size: 6rem;
    }

    .aboutContentExterior > div > p{
        font-size: 3rem;
        line-height: 5rem;
        margin: 5rem 0;
    }

    .MainAbout > .ContentContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3rem;
        line-height: 5rem;
    }

    .MainAbout > .ContentContainer > img {
        width: 60vw;
        height: auto;
        margin: 1rem 2rem;
    }

    .MainAbout > h2 {
        font-size: 8rem;
        margin-bottom: 1rem;
    }

    .MainAbout > .ContentContainer > .SummaryContainer > p {
        margin-top: 5rem;
    }

    .MainAbout > .ContentContainer > .SummaryContainer > .button {
        margin-top: 3rem;
        margin-bottom: -3rem;
        font-size: 3rem;
    }
}
