footer{
    width: 100%;
    height: auto;
    align-self:baseline;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light);
    padding: 2rem;
    margin-top: 5rem;
}

.LogoContainer{
    width: 5vw;
    height: auto;
    cursor: pointer;
}

.LogoContainer > svg > circle {
    fill: var(--pDark);
}

.LogoContainer > svg > path {
    fill: var(--light);
}

.LogoContainer:hover > svg > circle, .LogoContainer:focus > svg > circle {
    fill: var(--pLight);
}

.socialLinks{
    display: flex;
    gap: 10vw;
}

.legalities{
    margin-top: 2rem;
    display: flex;
    gap: 10vw;
}

.PrivacyPolicy{
    text-decoration: none;
    color: var(--pDark);
}

.PrivacyPolicy:hover, .PrivacyPolicy:focus{
    color: var(--dark);
}

.SiteMap{
    text-decoration: none;
    color: var(--pDark);
}

.SiteMap:hover, .SiteMap:focus{
    color: var(--dark);
}

.Copyright{
    text-decoration: none;
    color: var(--pDark);
    cursor: default;
}

.ThanksTag{
    margin-top: 3rem;
    text-align: center;
}

@media only screen and (width<768px){
    :root{
        --iconSize: 16rem;
        --iconMargin: 0;
    }
    .socialLinks{
        flex-direction: column;
        gap:5rem;
    }

    .LogoContainer{
        width: 20vw;
    }

    .legalities{
        margin-top: 6rem;
        font-size: 4rem;
    }

    .ThanksTag{
        margin-top: 10rem;
    }

}
