footer{
    width: 100%;
    height: auto;
    align-self: baseline;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--light);
    padding: 2rem;
}

#footerLogo{
    width: 15vh;
}

textarea{
    resize: none;
}

.LogoContainer{
    width: 5vw;
    height: auto;
    cursor: pointer;
}

.LogoContainer svg circle {
    fill: var(--pDark);
}

.LogoContainer svg path {
    fill: var(--light);
}

.LogoContainer:hover svg circle, .LogoContainer:focus svg circle {
    fill: var(--light);
}

.LogoContainer:hover svg path, .LogoContainer:focus svg path {
    fill: var(--pDark);
}

.socialLinks{
    display: flex;
}
