.ExteriorContainer{
    padding: 5vh 2.5vw;
    background: var(--light);
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-left: 5vw;
}

.Left{
    margin-left: -5vw;
}

.Right{
    margin-right: -5vw;
}

.ExteriorContainer > h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.MainAbout > h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.ContentContainer {
    display: flex;
    justify-content: flex-end;
}

.ContentContainer > img {
    width: 20vw;
    height: auto;
    margin: 0 2rem;
}

.MainAbout > .ContentContainer > img {
    width: 25vw;
}

.SummaryContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Left > .ContentContainer > .SummaryContainer {
    align-items: flex-end;
}

.Right > .ContentContainer >  .SummaryContainer {
    align-items: flex-start;
}

.Left > .ContentContainer > .SummaryContainer > p{
    align-self: flex-start;
}

.MainWork{
    background: var(--pDark);
    color: var(--light);
}

.MainWork > h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

@media only screen and (width<768px) {
    .ContentContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5rem;
    }

    .ContentContainer > img {
        width: 60vw;
        height: auto;
        margin: 0 2rem;
    }

    .MainAbout > .ContentContainer > img {
        width: 60vw;
    }

    .ExteriorContainer > h2 {
        font-size: 6rem;
        margin-bottom: 1rem;
    }

    .MainAbout > h2 {
        font-size: 8rem;
        margin-bottom: 1rem;
    }

    .MainWork > h2 {
        font-size: 5rem;
        margin-bottom: 1rem;
    }

    .SummaryContainer > p {
        margin-top: 5rem;
    }

    .SummaryContainer > .button {
        font-size: 2rem;
    }

    .MainAbout .SummaryContainer > .button {
        font-size: 3rem;
    }
}
