.ExteriorContainer{
    padding: 5vh 2.5vw;
    background: var(--light);
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-left: 5vw;
}

.Left{
    margin-left: -5vw;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.Right{
    margin-right: -5vw;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.ExteriorContainer > h2 {
    font-size: 1.8rem;
    margin-bottom: .2rem;
}

.ExteriorContainer > h4 {
    font-size: 1rem;
    color: var(--pLight);
    font-weight: normal;
    margin-bottom: 1rem;
}

.ContentContainer {
    display: flex;
    justify-content: flex-end;
}

.Right > .ContentContainer{
    flex-direction: row-reverse;
}

.ContentContainer > img {
    width: 20vw;
    height: auto;
    margin: 0 2rem;
}

.SummaryContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Left > .ContentContainer > .SummaryContainer {
    align-items: flex-end;
}

.Right > .ContentContainer >  .SummaryContainer {
    align-items: flex-start;
}

.Left > .ContentContainer > .SummaryContainer > p{
    align-self: flex-start;
}

.MainWork{
    background: var(--pDark);
    color: var(--light);
}

.MainWork > h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

@media only screen and (width<768px) {
    .ContentContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3rem;
        line-height: 5rem;
    }

    .Right > .ContentContainer{
        flex-direction: column;
    }

    .ContentContainer > img {
        width: 60vw;
        height: auto;
        margin: 0 2rem;
    }

    .ExteriorContainer > h2 {
        font-size: 6rem;
        margin-bottom: .2rem;
    }

    .ExteriorContainer > h4 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    .MainWork > h2 {
        font-size: 5rem;
        margin-bottom: 1rem;
    }

    .SummaryContainer > p {
        margin-top: 5rem;
    }

    .SummaryContainer > .button {
        margin-top: 3rem;
        font-size: 3rem;
    }

    :root{
        --textIconSize: 6rem;
        --textIconMargin: 1rem;
    }
}
