@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


:root {
    --light: #ffffff;
    --pLight: #5f5b5a;
    --primary: #3e3b3a;
    --pDark: #262626;
    --dark: #000000;
    font-size: 1vw;
}

a{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    color: var(--dark);
    background: var(--pDark);
    width: auto;
    overflow-x: hidden;
}
