@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


:root {
    --pLight: #5f5b5a;
    --light: #ffffff;
    --primary: #ff5241;
    --dark: #000000;
    --pDark: #303030;
    font-size: 1vw;
}

a{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    font-weight: bold;
    background: var(--pDark);
}
