.button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    padding: 1vw;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--pDark);
    border: none;
    border-left: 5px solid var(--pDark);
}

.button:hover, .button:focus{
    color: var(--light);
    background: var(--pDark);
}

.bAboutContainer{
    align-self: flex-end;
    margin-right: 2rem;
}
