@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


:root {
    --pLight: #c9a74c;
    --light: #fffefe;
    --primary: #8b7744;
    --dark: #030005;
    --pDark: #63605a;
    font-size: 1vw;
}

a{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    font-weight: bold;
    background: var(--dark);
}

header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 2.5vw;
    align-items: center;
    background: var(--light);
}

.headerHeader{
    font-size: 3rem;
    color: var(--pDark);
    margin-right: 10vw;
    cursor: pointer;
}

.headerButtons{
    width: 50%;
    display: flex;
    justify-content: space-between;
    right:
}

footer{
    width: 100%;
    height: 30vh;
    align-self: baseline;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: var(--light);
}

#footerLogo{
    width: 15vh;
}

textarea{
    resize: none;
}
