@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


:root {
    --pLight: #c9a74c;
    --light: #fffefe;
    --primary: #8b7744;
    --dark: #030005;
    --pDark: #63605a;
    font-size: 1vw;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    font-weight: bold;
}

header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: grey;
}

#headerLogo{
    width: 5vw;
}

.headerHeader{
    font-size: 3rem;
    color: var(--light);
}

.mainContainer{
    width: 100%;
    height: auto;
    padding: 10vh 5vw;
}

.main{
    padding: 5vh 2.5vw;
}

footer{
    width: 100%;
    height: 30vh;
    align-self: baseline;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: grey;
}

#footerLogo{
    width: 15vh;
}
